  <div class="modal_body_container">
    <h2 mat-dialog-title>Edit Supplier</h2>
    <mat-dialog-content class="mat-typography">

      <form class="form_container_addproducts" [formGroup]="supplierForm">
        <div class="form-group">
          <mat-form-field class="product_name_field" appearance="fill">
            <mat-label>Supplier Name</mat-label>
            <input matInput placeholder="Ex. Pilot.Inc" formControlName="supplierName">
          </mat-form-field>
          <mat-form-field class="product_price_field" appearance="fill">
            <mat-label>Supplier Contact</mat-label>
            <span matPrefix>#&nbsp;</span>
            <input matInput placeholder="Ex. 1234-567-890" type="tel" formControlName="contact">
          </mat-form-field>
          <mat-form-field class="product_descrption_field" appearance="fill">
              <mat-label>Supplier Location</mat-label>
              <input matInput placeholder="" formControlName="location">
            </mat-form-field>
        </div>
      </form>
    </mat-dialog-content>
  </div>
    <mat-dialog-actions align="end">    
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button mat-dialog-close  cdkFocusInitial (click)="editSupplier()">Edit Supplier</button>
    </mat-dialog-actions>
