<mat-drawer-container class="example-container" autosize>
  <mat-drawer
    [ngStyle]="isExpanded ? { width: '200px' } : { width: '75px' }"
    #drawer
    class="example-sidenav"
    mode="side"
  >
    <div class="d-flex align-items-center">
      <!-- <button
        mat-mini-fab
        (click)="isExpanded = !isExpanded"
        color="warn"
        style="margin: 15px 15px 15px 15px"
      >
        <mat-icon aria-label="Menu">menu</mat-icon>
      </button> -->
      <img
        src="../../../assets/sidenav-assets/logo.png"
        width="33"
        style="margin: 20px"
      />
      <p class="text-light d-flex flex-column mt-2 fw-bold" *ngIf="isExpanded">
        MORLYN’S
        <span class="fw-normal">
          {{
            currentRoute[1] === "inventory"
              ? "Inventory"
              : currentRoute[1] === "pointofsale"
              ? "Point of Sale"
              : currentRoute[1] === "salesreport"
              ? "Sales Report"
              : "Error"
          }}
        </span>
      </p>
    </div>

    <mat-nav-list *ngIf="currentRoute[1] === 'inventory'">
      <mat-list-item routerLink="/inventory/" class="hover__nav">
        <mat-icon
          mat-list-icon
          class="material-symbols-outlined"
          [ngClass]="(isNumber(currentRoute[3]) || currentRoute[3]==='') &&  currentRoute[2]==='home'? 'fill__icon' : ''"
          >home</mat-icon
        >
        <h4 mat-line *ngIf="isExpanded">Home</h4>
      </mat-list-item>
      <mat-list-item routerLink="/inventory/product" class="hover__nav">
        <mat-icon
          mat-list-icon
          class="material-symbols-outlined"
          [ngClass]="currentRoute[2] === 'product' ? 'fill__icon' : ''"
          >inventory_2</mat-icon
        >
        <h4 mat-line *ngIf="isExpanded">Product</h4>
      </mat-list-item>
      <mat-list-item routerLink="/inventory/purchase" class="hover__nav">
        <mat-icon
          mat-list-icon
          class="material-symbols-outlined"
          [ngClass]="currentRoute[2] === 'purchase' ? 'fill__icon' : ''"
          >sell</mat-icon
        >
        <h4 mat-line *ngIf="isExpanded">Purchase</h4>
      </mat-list-item>
      <mat-list-item routerLink="/inventory/supplier" class="hover__nav">
        <mat-icon
          mat-list-icon
          class="material-symbols-outlined"
          [ngClass]="currentRoute[2] === 'supplier' ? 'fill__icon' : ''"
          >person</mat-icon
        >
        <h4 mat-line *ngIf="isExpanded">Supplier</h4>
      </mat-list-item>
    </mat-nav-list>

    <mat-nav-list *ngIf="currentRoute[1] === 'pointofsale'">
      <mat-list-item routerLink="/pointofsale/" class="hover__nav">
        <mat-icon
          mat-list-icon
          class="material-symbols-outlined"
          [ngClass]="currentRoute[2] === undefined ? 'fill__icon' : ''"
          >home</mat-icon
        >
        <h4 mat-line *ngIf="isExpanded">Home</h4>
      </mat-list-item>
      <mat-list-item routerLink="/pointofsale/product" class="hover__nav">
        <mat-icon
          mat-list-icon
          class="material-symbols-outlined"
          [ngClass]="currentRoute[2] === 'product' ? 'fill__icon' : ''"
          >inventory_2</mat-icon
        >
        <h4 mat-line *ngIf="isExpanded">Product</h4>
      </mat-list-item>
      <mat-list-item routerLink="/pointofsale/order" class="hover__nav">
        <mat-icon
          mat-list-icon
          class="material-symbols-outlined"
          [ngClass]="currentRoute[2] === 'order' ? 'fill__icon' : ''"
          >sell</mat-icon
        >
        <h4 mat-line *ngIf="isExpanded">Order</h4>
      </mat-list-item>
    </mat-nav-list>

    <mat-nav-list *ngIf="currentRoute[1] === 'salesreport'">
      <mat-list-item routerLink="/salesreport/" class="hover__nav">
        <mat-icon
          mat-list-icon
          class="material-symbols-outlined"
          [ngClass]="currentRoute[2] === undefined ? 'fill__icon' : ''"
        >
          dashboard
        </mat-icon>
        <h4 mat-line *ngIf="isExpanded">Dashboard</h4>
      </mat-list-item>
      <mat-list-item routerLink="/salesreport/revenue" class="hover__nav">
        <mat-icon
          mat-list-icon
          class="material-symbols-outlined"
          [ngClass]="currentRoute[2] === 'revenue' ? 'fill__icon' : ''"
          >trending_up</mat-icon
        >
        <h4 mat-line *ngIf="isExpanded">Revenue</h4>
      </mat-list-item>
      <mat-list-item routerLink="/salesreport/growth" class="hover__nav">
        <mat-icon
          mat-list-icon
          class="material-symbols-outlined"
          [ngClass]="currentRoute[2] === 'growth' ? 'fill__icon' : ''"
          >timeline</mat-icon
        >
        <h4 mat-line *ngIf="isExpanded">Growth</h4>
      </mat-list-item>
      <mat-list-item routerLink="/salesreport/report" class="hover__nav">
        <mat-icon
          mat-list-icon
          class="material-symbols-outlined"
          [ngClass]="currentRoute[2] === 'report' ? 'fill__icon' : ''"
          >assignment</mat-icon
        >
        <h4 mat-line *ngIf="isExpanded">Report</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar class="header">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="isExpanded = !isExpanded"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <!-- <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput type="search" placeholder="Enter keyword">
          <mat-icon matSuffix>search</mat-icon>
      </mat-form-field> -->
      <span class="example-spacer"></span>
      <!-- <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
      <span class="material-symbols-outlined">
        notifications
        </span>
      </button> -->
      
     <!-- Example single danger button -->
        <div class="btn-group">
          <span class="material-symbols-outlined" style="font-size: 2.5rem;">
            account_circle
          </span>
          <div class="btn_text_container">
              <h6>{{activeUser?.name | titlecase}}</h6>
              <p>Admin</p>
          </div>
          <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
           
          </button>
          <ul class="dropdown-menu">
            <li role="button"><a class="dropdown-item" (click)="logout()">Log Out</a></li>
          </ul>
        </div>


    </mat-toolbar>

    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
