.first__container h3 {
  color: #5464ef;
  font-family: "IBM Plex Sans", sans-serif;
}

.bottom__container {
  min-height: 38.980509745127435vh;
  max-height: 41.97901049475262vh;
  /* width: 50%; */
}

.bottom__container h3 {
  font-family: "IBM Plex Sans", sans-serif;
  color: #5464ef;
}

.table {
  font-family: "IBM Plex Sans", sans-serif;
}

.table thead th {
  border-bottom: 2px solid #f1f1f1;
}

.table th {
  color: #1c1c1c;
}

.table td {
  color: #777777;
}

.table__container {
  height: 32.98350824587706vh;
}

.stick__header {
  position: sticky;
  top: 0;
  background-color: #fff;
}
