<div class="body_container">

    <div style="width: 95%" class="m-auto">
      <div class="top_container">
      
        <mat-form-field appearance="fill">
          <mat-label>Categories</mat-label>
          <mat-select [(ngModel)]="category" (ngModelChange)="filterByCategory($event)">
            <mat-option>Clear</mat-option>
            <mat-option *ngFor="let category of $categories" value="{{category.id}}" >{{category.categoryName | titlecase}}</mat-option>
          </mat-select>
        </mat-form-field>
     
          
      </div>
      <div class="bot_container">
          <div class="table_container">
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">NAME</th>
                      <th scope="col">DESCRIPTION</th>
                      <th scope="col">STOCK STATUS</th>
                      <th scope="col">AVAILABLE</th>
                      <th scope="col">PRICE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of this.$products[$currentPage]">
                      <td>{{item.id}}</td>
                      <td>{{item.productName}}</td>
                      <td>{{item.productDescription}}</td>
                      <td>{{item.quantity === 0 ?'Out of stock':'In Stock'}}</td>
                      <td>{{item.quantity}}</td>
                      <td>{{item.price}}</td>
                    </tr>
                  </tbody>
                </table>
            
      </div>
      <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
          <li class="page-item" [ngClass]="(this.$currentPage) <= 0?'disabled':''" role="button">
              <a class="page-link" (click)="previous()" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item" role="button" *ngFor="let page of [].constructor($products.length); let i=index"><a class="page-link" (click)="paginate(i)">{{i+1}}</a></li>
          <li class="page-item" role="button" [ngClass]="(this.$currentPage+1) >= this.$products.length?'disabled':''">
              <a class="page-link" (click)="next()">Next</a>
          </li>
          </ul>
      </nav>
    </div>
 </div>

