.bottom__container {
  min-height: 31.484257871064468vh;
  max-height: 32.98350824587706vh;
  /* width: 50%; */
}

h3 {
  color: #5464ef;
}

.table {
  font-family: "IBM Plex Sans", sans-serif;
}

.table thead th {
  border-bottom: 2px solid #f1f1f1;
}

.table th {
  color: #1c1c1c;
}

.table td {
  color: #777777;
}

.table__container {
  height: 25.487256371814095vh;
}

.stick__header {
  position: sticky;
  top: 0;
  background-color: #fff;
}
