<div class="body_container">
<div class="m-auto">
    <div class="left_container">
        <div class="left_top_container">

          <mat-form-field appearance="fill">
            <mat-label>Categories</mat-label>
            <mat-select [(ngModel)]="category" (ngModelChange)="filterByCategory($event)">
              <mat-option>Clear</mat-option>
              <mat-option *ngFor="let category of $categories" value="{{category.id}}" >{{category.categoryName | titlecase}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

    <div class="left_bot_container">
          <div class="left_table_container">
            <table class="table table-hover">
              <thead>
                <tr >
                  <th scope="col">ID</th>
                  <th scope="col">NAME</th>
                  <th scope="col">DESCRIPTION</th>
                  <th scope="col">AVAILABLE</th>
                  <th scope="col">PRICE</th>
                </tr>
              </thead>
              <tbody>
                <tr role="button" *ngFor="let item of $products.flat(); let i=index" (click)="addOrder(item)">
                  <td>{{item.id}}</td>
                  <td>{{item.productName}}</td>
                  <td>{{item.productDescription}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.price}}</td>
                </tr>
              </tbody>
        </table>
          </div>
    </div>
      </div>

      <form class="right_container" [formGroup]="orderForm">
        <div class="right_top_container"><h1>Cart Items</h1></div>
        <div class="right_table_container">
         
          <table class="table">
            <thead>
            </thead>
            <tbody formArrayName="list">
              <tr *ngFor="let order of formArrOrder.controls; let i=index;">
               <td [formGroupName]="i">
                <mat-card>
                  <button mat-mini-fab (click)="removeOrder(i)"><mat-icon>close</mat-icon></button>
                  <p class="d-flex flex-column">{{order.get('productName')?.value}} <span>({{this.orderForm.controls.list.value[i].quantity}} X {{this.orderForm.controls.list.value[i].price}} = {{this.orderForm.controls.list.value[i].price * this.orderForm.controls.list.value[i].quantity}})</span></p>
                  <button mat-mini-fab (click)="removeQuantity(i)"><mat-icon>remove</mat-icon></button>
                  <p>{{this.orderForm.controls.list.value[i].quantity}}</p>
                  <button mat-mini-fab (click)="addQuantity(i)"><mat-icon>add</mat-icon></button>
                </mat-card>
               </td>
              </tr>
            </tbody>
          </table>

        </div>
        <mat-divider></mat-divider>
        <div class="right_footer_container">
          <div class="right_footer_text">
            <div class="d-flex justify-content-between w-100 px-3">
              <h1>TOTAL:</h1>
              <h1>P{{totalCost}}</h1>
            </div>
            <mat-form-field class="product_price_field px-3" appearance="fill">
              <mat-label>Amount Receive</mat-label>
              <span matPrefix>₱&nbsp;</span>
              <input matInput placeholder="Ex. 17" type="number" formControlName="amountReceive">
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" (click)="submitOrder()">Check Out</button>
        </div>
      </form>
</div>
</div>